<appSettings>

  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

  <!--Conexao com Banco de dados-->
  <add key="Ambiente" value="HMG"/>

  <!--BAURU-->
  <!--<add key="USER" value="0kIJzjDpyWMYn2mTjpXk/A=="/>
    <add key="PWD" value="SE4Wd9pzNCFTyz7aGGhkNQ=="/>
    <add key="BD" value="BNSon7dUqjAu7LqQ5GhMQOeN9QS9VTbpTqBhclQsiKk="/>
    <add key="SERVER" value="lu5kJuxvkmOI/Z/cEJnLEMyVBZbL8lR+ilMIlN58dpc="/>-->

  <!--JC-->
  <!--<add key="USER" 	value="0kIJzjDpyWMYn2mTjpXk/A==" />
  <add key="PWD" 	value="8VFe4GVIC42HKPtuxDKfzaL6o+8P0wegZEk+pOhF1oM=" />
  <add key="BD" 	value="0kIJzjDpyWMYn2mTjpXk/A==" />
  <add key="SERVER" 	value="c4uGQStYeBxSrdv3z67Bkg==" />-->

  <!--JC HMG 2-->
  <!--<add key="USER" 	value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" 	value="8VFe4GVIC42HKPtuxDKfzaL6o+8P0wegZEk+pOhF1oM=" />
    <add key="BD" 	value="w+jpu7RKtm/AogKksuIuVy+KFptvJZta+SkDXnMQhRw=" />
    <add key="SERVER" 	value="c4uGQStYeBxSrdv3z67Bkg==" />-->

  <!--JC PRD-->
  <!--<add key="USER" value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" value="8VFe4GVIC42HKPtuxDKfzaL6o+8P0wegZEk+pOhF1oM=" />
    <add key="BD" value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="SERVER" value="5xOqjE8FeKIXeKQpUa/a3g==" />-->

  <!--BAURU WEB-->
  <!--<add key="USER" value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" value="SE4Wd9pzNCFTyz7aGGhkNQ==" />
    <add key="BD" value="BNSon7dUqjAu7LqQ5GhMQOeN9QS9VTbpTqBhclQsiKk=" />
    <add key="SERVER" value="lu5kJuxvkmOI/Z/cEJnLEMyVBZbL8lR+ilMIlN58dpc=" />-->

  <!--BAHIA-->
  <add key="USER" value="0kIJzjDpyWMYn2mTjpXk/A==" />
  <add key="PWD" value="SE4Wd9pzNCFTyz7aGGhkNQ==" />
  <add key="BD" value="ElahUpBzmiKXE9vZprmYshujFmM/R16VS6v/WwD40g8=" />
  <add key="SERVER" value="KQAhmNHaiCb9+NAtwh9Q5Q==" />



  <!--Dados Fixos da Assinatura-->
  <add key="AutorizaEmail" value="1"/>
  <add key="DivulgarDados" value="2"/>
  <add key="ReprVenda" value="1"/>
  <add key="Vendedor" value="1"/>
  <add key="LocalEntrega" value="1"/>
  <add key="GrupoSelecao" value="5"/>
  <add key="OperadorADM" value="1"/>

  <!--Geral-->
  <add key="TituloLoja" value="Jornal da Cidade de Bauru - Venda de Assinatura"/>
  <add key="EMPRESA" value="CWA Soluções"/>
  <add key="PathImagemMKT" value="~/imagens/mkt/"/>
  <add key="PathTemplatePage" value="/loja/"/>

  <!--Parametros Interface de Pagamento-->

  <add key="InterfaceVenda" value="CWA.EngineServices.InterfaceMAXIPAGO" />
  <add key="InterfaceMetodoVendaCartao" value="VendaSimplesCartao" />

  <!--URL do serviço da CWA-->
  <add key="TipoEndPointWSDL" value="http"/>
  <add key="EndPointWSDL"  value="http://localhost:24098/ServiceCWA.svc"/>

  <!--Getway Pagamento MAXIPAGO-->
  <!--Getway Pagamento MAXIPAGO-->
  <add key="ProviderPagamento" value="TEF"/>
  <add key="UsaGetwayPagamento" value="false"/>
  <add key="EmpresaGetway" value="MAXIPAGO"/>
  <add key="MethodMAXIPAGO" value="POST"/>
  <add key="VersionInterface" value="3.1.1.15"/>
  <add key="ContentTypeMAXIPAGO" value="text/xml; charset=UTF-8"/>
  <add key="MerchantIdMAXIPAGO" value="48007"/>
  <add key="MerchantKeyMAXIPAGO" value="t8vda3gozmwjzuen85xuza3t"/>
  <add key="UrlPostVendaMAXIPAGO" value="https://api.maxipago.net/UniversalAPI/postXML"/>
  <add key="UrlGetVendaMAXIPAGO" value=""/>

  <add key="UsaCartaoVenda" value="false"/>

  <!--Interface Login Integrado -->
  <add key="MethodLogin" value="POST" />
  <add key="ContentTypeLogin" value="application/x-www-form-urlencoded" />
  <add key="MerchantIdLogin" value="9a812ad5-7486-4002-9029-839eeb4e378b" />
  <add key="UrlPostLoginIntegrado" value="" />

  <!--Path do Log-->
  <add key="PathLog" value="LogWebCWA.xml" />

  <!-- 0 - Cliente escolhe o tipo de parcelamento / 1 - Parcelado pela Adm de Cartao / 2 - Parcelado pelo Estabelecimento-->
  <add key="TipoParcCartao" value="1"/>

  <!--Anos de Vencimento Cartao-->
  <add key="VenctoCartaoAdd" value="10"/>

  <!--Dias de Acesso na BV-->
  <add key="TempoAcessoBV" value="3" />

  <!--Listas Fixas no Sistema-->
  <add key="ListSexo" value="1;física (masc.)|2;física (fem.)|3;jurídica pública|4;física(sexo indefinido)|5;jurídica privada" />
  <add key="ListIntegracaoAcesso" value="0,0,0,0|1,0,0,0|2,1,0,91|3,1,1,0|4,0,0,0|5,0,0,0|6,0,0,0|7,0,0,0|8,1,1,0|9,0,0,0|10,1,0,0|13,1,0,0|14,1,1,0" />

  <!--Dados para envio de email-->
  <add key="HostMail"   value="vrNzBSI02LbvnT3o/sJp41CueO1UJf9ExOM10PbQycQ="/>
  <add key="PortaMail"  value="l5QJl64tA85hSaBbXkiXQw=="/>
  <add key="SslMail"    value="HlO3YwDO8gWKHtrhWQ85Yw=="/>
  <add key="UserMail"   value="5gDoLtdmxt1jqYpXmPHHsrY8ieTmheYtiRq9dBAQe80="/>
  <add key="PwdMail"    value="/ggC2LXBKczTGaciQgR54A=="/>
  <add key="SubjectMail" value="Confirmação do Pedido de Assinatura"/>

  <!--Google Analytics UA-104742564-1  / atendimento.cwa.com.br-->

  <add key="IDGoogleAnalyticsLoja" value="0"/>
  <add key="DominioGoogleAnalyticsLoja" value=""/>

  <add key="IDGoogleAnalyticsCentral" value="0"/>
  <add key="DominioGoogleAnalyticsCentral" value=""/>

  <add key="IDGoogleDFPLoja" value="0"/>

</appSettings>