<?xml version="1.0"?>
<configuration>

  <appSettings>

    <!--<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>-->



    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

    <!--Conexao com Banco de dados-->
    <add key="Ambiente" value="HMG"/>

    <!--LONDRINA-->
    <!--<add key="USER" 	value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" 	value="SE4Wd9pzNCFTyz7aGGhkNQ==" />
    <add key="BD" 	value="vsOsFJxp5Pk/utSAEeoROA==" />
    <add key="SERVER" 	value="CgeAprIr35hzFvLgZQ6gjIdEkC3cfOF3Ic9rdYiytKE=" />-->
    
    <!--<add key="USER" value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" value="SE4Wd9pzNCFTyz7aGGhkNQ==" />
    <add key="BD" value="vsOsFJxp5Pk/utSAEeoROA==" />
    <add key="SERVER" value="CgeAprIr35hzFvLgZQ6gjIdEkC3cfOF3Ic9rdYiytKE=" />-->
    
    <!--MIRANTE-->
    <!--<add key="USER" value="0kIJzjDpyWMYn2mTjpXk/A=="/>
    <add key="PWD" value="SE4Wd9pzNCFTyz7aGGhkNQ=="/>
    <add key="BD" value="GFbqFN27I0HIhJO1PfAj5JHDo7yZrw1KgKHXiPikzlY="/>
    <add key="SERVER" value="0LT7Uxn4CsOCaNITlS+htA=="/>-->
    
    <!--TREINA NUVEM-->
    <!--<add key="USER" 	value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" 	value="SE4Wd9pzNCFTyz7aGGhkNQ==" />
    <add key="BD" 	value="dx7BRI5zqLZ4xnCcyAdt8o3YM/374AvL7HgYbrSc5/4=" />
    <add key="SERVER" 	value="0LT7Uxn4CsOCaNITlS+htA==" />-->

    <!--JC NUVEM-->    
    <!--<add key="USER" 	value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" 	value="SE4Wd9pzNCFTyz7aGGhkNQ==" />
    <add key="BD" 	value="osni/7c6afYl+GMVIKal30Pc1eWJXRcTxobSgF2b7so=" />
    <add key="SERVER" 	value="0LT7Uxn4CsOCaNITlS+htA==" />-->
    
    <!--BAURU-->
    <add key="USER" value="0kIJzjDpyWMYn2mTjpXk/A=="/>
    <add key="PWD" value="SE4Wd9pzNCFTyz7aGGhkNQ=="/>
    <add key="BD" value="BNSon7dUqjAu7LqQ5GhMQOeN9QS9VTbpTqBhclQsiKk="/>
    <add key="SERVER" value="0LT7Uxn4CsOCaNITlS+htA=="/>

    <!--JC-->
    <!--<add key="USER" 	value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" 	value="8VFe4GVIC42HKPtuxDKfzaL6o+8P0wegZEk+pOhF1oM=" />
    <add key="BD" 	value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="SERVER" 	value="c4uGQStYeBxSrdv3z67Bkg==" />-->

    <!--JC HMG 2-->
    <!--<add key="USER" 	value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" 	value="8VFe4GVIC42HKPtuxDKfzaL6o+8P0wegZEk+pOhF1oM=" />
    <add key="BD" 	value="EeCewHMQ3Ey4kk/o57Fk6w==" />
    <add key="SERVER" 	value="c4uGQStYeBxSrdv3z67Bkg==" />-->

    <!--JC PRD-->
    <!--<add key="USER" value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" value="8VFe4GVIC42HKPtuxDKfzaL6o+8P0wegZEk+pOhF1oM=" />
    <add key="BD" value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="SERVER" value="5xOqjE8FeKIXeKQpUa/a3g==" />-->

    <!--BAURU WEB-->
    <!--<add key="USER" value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" value="SE4Wd9pzNCFTyz7aGGhkNQ==" />
    <add key="BD" value="BNSon7dUqjAu7LqQ5GhMQOeN9QS9VTbpTqBhclQsiKk=" />
    <add key="SERVER" value="lu5kJuxvkmOI/Z/cEJnLEMyVBZbL8lR+ilMIlN58dpc=" />-->

    <!--BAHIA-->
    <!--<add key="USER" value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" value="SE4Wd9pzNCFTyz7aGGhkNQ==" />
    <add key="BD" value="ElahUpBzmiKXE9vZprmYshujFmM/R16VS6v/WwD40g8=" />    
    <add key="SERVER" value="KQAhmNHaiCb9+NAtwh9Q5Q==" />-->

    <!--TREINA-->
    <!--<add key="USER" 	value="0kIJzjDpyWMYn2mTjpXk/A==" />
    <add key="PWD" 	value="SE4Wd9pzNCFTyz7aGGhkNQ==" />
    <add key="BD" 	value="dx7BRI5zqLZ4xnCcyAdt8o3YM/374AvL7HgYbrSc5/4=" />
    <add key="SERVER" 	value="0LT7Uxn4CsOCaNITlS+htA==" />-->


    <!--Dados Fixos da Assinatura-->
    <add key="AutorizaEmail" value="1"/>
    <add key="DivulgarDados" value="2"/>
    <add key="ReprVenda" value="1"/>
    <add key="Vendedor" value="1"/>
    <add key="LocalEntrega" value="1"/>
    <add key="GrupoSelecao" value="5"/>
    <add key="OperadorADM" value="1"/>
    <!--Dados Fixos da Assinatura MIRANTE-->
    <!--<add key="AutorizaEmail" value="1"/>
    <add key="DivulgarDados" value="2"/>
    <add key="ReprVenda" value="544741"/>
    <add key="Vendedor" value="544741"/>
    <add key="LocalEntrega" value="1"/>
    <add key="GrupoSelecao" value="5"/>
    <add key="OperadorADM" value="1"/>-->
    
    <!--Geral-->
    <add key="TituloLoja" value="Jornal da Cidade de Bauru - Venda de Assinatura"/>
    <add key="EMPRESA" value="CWA Soluções"/>
    <add key="PathImagemMKT" value="~/imagens/mkt/"/>
    <add key="PathTemplatePage" value="/loja/"/>

    <!--Parametros Interface de Pagamento-->

    <add key="InterfaceVenda" value="CWA.EngineServices.InterfaceMAXIPAGO" />
    <add key="InterfaceMetodoVendaCartao" value="VendaSimplesCartao" />

    <!--URL do serviço da CWA-->
    <add key="TipoEndPointWSDL" value="http"/>
    <!--<add key="EndPointWSDL"  value="http://centralweb.api.sjcc.com.br/Service/ServiceCWA.svc"/>-->
    <add key="EndPointWSDL"  value="http://localhost:29098/ServiceCWA.svc"/>

  
    <!--<add key="ProviderPagamento" value="Simulador"/>
    <add key="UsaGetwayPagamento" value="true"/>
    <add key="EmpresaGetway" value="MAXIPAGO"/>
    <add key="MethodMAXIPAGO" value="POST"/>
    <add key="VersionInterface" value="3.1.1.15"/>
    <add key="ContentTypeMAXIPAGO" value="text/xml; charset=UTF-8"/>
    <add key="MerchantIdMAXIPAGO" value="9761"/>
    <add key="MerchantKeyMAXIPAGO" value="zmldk1xtjpgwo6juvqxx3dpv"/>
    <add key="UrlPostVendaMAXIPAGO" value="https://testapi.maxipago.net/UniversalAPI/postXML"/>
    <add key="UrlGetVendaMAXIPAGO" value=""/>-->    
    
    <!--Getway Pagamento MAXIPAGO-->
    <add key="ProviderPagamento" value="Simulador"/>
    <add key="UsaGetwayPagamento" value="true"/>
    <add key="EmpresaGetway" value="MAXIPAGO"/>
    
    <add key="MethodMAXIPAGO" value="POST"/>
    <add key="VersionInterface" value="3.1.1.15"/>
    <add key="ContentTypeMAXIPAGO" value="text/xml; charset=UTF-8"/>    
    <add key="MerchantIdMAXIPAGO" value="9761"/>
    <add key="MerchantKeyMAXIPAGO" value="zmldk1xtjpgwo6juvqxx3dpv"/>
    <add key="UrlPostVendaMAXIPAGO" value="https://testapi.maxipago.net/UniversalAPI/postXML"/>
    <add key="UrlGetVendaMAXIPAGO" value=""/>

    <!--Getway Pagamento BRASPAG-->
    <!--<add key="UsaGetwayPagamento" value="true"/>
    <add key="EmpresaGetway" value="BRASPAG"/>
    <add key="ProviderPagamento" value="Simulado"/>-->
    <add key="MethodBRASPAG" value="POST"/>
    <add key="ContentTypeBRASPAG" value="application/json"/>
    <add key="MerchantIdBRASPAG" value="882067b2-61b0-46a1-91f4-77b104e93812"/>
    <add key="MerchantKeyBRASPAG" value="OXLTLJXLSIDNRXBUEMJPNHZUMAIEBCLAFVYJQEOU"/>
    <add key="UrlPostVendaBRASPAG" value="https://apisandbox.braspag.com.br/v2/sales/"/>
    <add key="UrlGetVendaBRASPAG" value="https://apiquerysandbox.braspag.com.br/sales/{payment-id}"/>

    <!--{PaymentId}/void?amount=xxx-->
    <add key="UrlPostExtornoBRASPAG" value="https://apiquerysandbox.braspag.com.br/sales/{PaymentId}/void?amount="/>
    
    <add key="UsaCartaoVenda" value="false"/>

    <!--Interface Login Integrado -->
    <add key="MethodLogin" value="POST" />
    <add key="ContentTypeLogin" value="application/x-www-form-urlencoded" />
    <add key="MerchantIdLogin" value="9a812ad5-7486-4002-9029-839eeb4e378b" />
    <add key="UrlPostLoginIntegrado" value="" />

    <!--Interface LAHAR -->
    <add key="UsaLahar" value="true" />
    <add key="TokenLahar" value="jornalda9G9rrlJn1W4N8Wu6e6vdog6mmfeDDI5QuJW8VPxqCl0vUuWL1oM1yVjF" />
    <add key="UrlPostLahar" value="https://scripts.lahar.com.br/api/curl_server.php?" />
    <add key="MethodLahar" value="GET" />
    <add key="ContentTypeLahar" value="text/xml" />
    <add key="FormularioLahar" value="LojaWeb" />

    <!--Path do Log-->
    <add key="PathLog" value="C:\CWA\LogWebCWA.xml" />

    <!-- 0 - Cliente escolhe o tipo de parcelamento / 1 - Parcelado pela Adm de Cartao / 2 - Parcelado pelo Estabelecimento-->
    <add key="TipoParcCartao" value="1"/>

    <!--Anos de Vencimento Cartao-->
    <add key="VenctoCartaoAdd" value="10"/>

    <!--Dias de Acesso na BV-->
    <add key="TempoAcessoBV" value="3" />

    <!--Listas Fixas no Sistema-->
    <add key="ListSexo" value="1;física (masc.)|2;física (fem.)|3;jurídica pública|4;física(sexo indefinido)|5;jurídica privada" />
    <add key="ListIntegracaoAcesso" value="0,0,0,0|1,0,0,0|2,1,0,91|3,1,1,0|4,0,0,0|5,0,0,0|6,0,0,0|7,0,0,0|8,1,1,0|9,0,0,0|10,1,0,0|13,1,0,0|14,1,1,0" />

    <!--Dados para envio de email-->
    <add key="HostMail"   value="vrNzBSI02LbvnT3o/sJp41CueO1UJf9ExOM10PbQycQ="/>
    <add key="PortaMail"  value="l5QJl64tA85hSaBbXkiXQw=="/>
    <add key="SslMail"    value="HlO3YwDO8gWKHtrhWQ85Yw=="/>
    <add key="UserMail"   value="5gDoLtdmxt1jqYpXmPHHsrY8ieTmheYtiRq9dBAQe80="/>
    <add key="PwdMail"    value="/ggC2LXBKczTGaciQgR54A=="/>
    <add key="SubjectMail" value="Confirmação do Pedido de Assinatura"/>

    <!--Google Analytics UA-104742564-1  / atendimento.cwa.com.br-->

    <add key="IDGoogleAnalyticsLoja" value="0"/>
    <add key="DominioGoogleAnalyticsLoja" value=""/>

    <add key="IDGoogleAnalyticsCentral" value="0"/>
    <add key="DominioGoogleAnalyticsCentral" value=""/>

    <add key="IDGoogleDFPLoja" value="0"/>

  </appSettings>

  <connectionStrings>
    <add name="ConexaoPRD" connectionString="Data Source=MSSQL1;Password=@PWD;User ID=@USER;Initial Catalog=@BD;Data Source=@SERVER;Integrated Security=false;Trusted_Connection=false;Packet Size=4096;Connect Timeout=200;" providerName="System.Data.SqlClient"/>
    <add name="ConexaoHMG" connectionString="Data Source=MSSQL1;Password=@PWD;User ID=@USER;Initial Catalog=@BD;Data Source=@SERVER;Integrated Security=false;Trusted_Connection=false;Packet Size=4096;Connect Timeout=200;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6.2" requestValidationMode="2.0" maxRequestLength="2147483647" executionTimeout="1600" requestLengthDiskThreshold="2147483647"/>
    <pages buffer="true" enableEventValidation="false" validateRequest="false"/>

    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>

  </system.web>

  <!--<appSettings file="cwa.config"/>-->

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="NotaFiscalServiceBeanServiceSoapBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.200.0.42:8080/integraCir2k/NotaFiscalServiceBean" binding="basicHttpBinding" bindingConfiguration="NotaFiscalServiceBeanServiceSoapBinding" contract="WSGO_VA.NotaFiscalServiceBean" name="NotaFiscalServiceBeanPort"/>
    </client>

    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <!--<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>-->
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>

    <security>
      <requestFiltering>
        <fileExtensions allowUnlisted="true">
          <remove fileExtension="." />
          <add fileExtension="." allowed="true" />
        </fileExtensions>
      </requestFiltering>
    </security>

  </system.webServer>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
